// Abstracts
@import "./abstracts/variables";
@import "./abstracts/classes";

// 🔗 Mapping vers Bootstrap
$body-bg: $fond-page;
$body-color: $texte-secondaire;
$primary: $primary;
$secondary: $secondary;
$success: $success;
$danger: $danger;
$warning: $warning;
$info: $info;
$border-color: $border;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";



// Base
@import "./base/typography";


// components
@import "./components/visitor/header_visitor";
@import "./components/admin/page_header";
@import "./components/admin/info_card";
@import "./components/admin/table_card";
@import "./components/admin/stat_card";
@import "./components/admin/form_card";
@import "./components/user/page_header";
@import "./components/user/stat_card";
@import "./components/user/quick_action_card";





// layout
@import "./layout/login-form";
@import "./layout/footer";
@import "./layout/admin_layout";
@import "./layout/navbar";



// Pages
@import "./pages/visitor/blog/index";
@import "./pages/visitor/blog/show";
@import "./pages/visitor/home";
@import "./pages/visitor/product/show";
@import "./pages/visitor/product/index";
@import "./pages/visitor/contact/index";
@import "./pages/user/cart/index";
@import "./pages/user/order/index";
@import "./pages/user/order/show";
@import "./pages/user/home/index";
@import "./pages/user/profile/index";
@import "./pages/user/profile/edit";
@import "./pages/admin/product/index";





// Themes
@import "./themes/base_visitor";
@import "./themes/base_user";
@import "./themes/base_admin";
