{% extends 'themes/base_user.html.twig' %}

{% block title %}{% endblock %}

{% block description %}Accueil
{% endblock %}

{% block main %}
	<h1 class="text-center text-primary my-3 display-5">
		{{app.user.firstName}}
		{{app.user.lastName}}
	</h1>

	<div class="container my-5">
		<div class="row">
			<div
				class="col-md-6 mb-3">
				{# On utilise text-bg-primary pour le style vert et blanc, et h-100 pour la hauteur 茅gale #}
				<div class="card text-bg-primary h-100">
					<div class="card-body d-flex flex-column">
						<span class="card-title">Liste des commentaires</span>
						{# On ajoute l'ic么ne  c么t茅 du nombre #}
						<p class="h3 mt-auto">{{ app.user.comments|length }}
							<i class="fa-solid fa-comments"></i>
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 mb-3">
				<div class="card text-bg-primary h-100">
					<div class="card-body d-flex flex-column">
						<span class="card-title">Liste des likes</span>
						{# On ajoute l'ic么ne  c么t茅 du nombre #}
						<p class="h3 mt-auto">{{ app.user.likes|length }}
							<i class="fa-solid fa-heart"></i>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

