{% extends 'themes/base_admin.html.twig' %}

{% block title %}Les paramète du site{% endblock %}

{% block description %}Les paramète du site{% endblock %}

{% block jQuery %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block main %}
    <h1 class="text-center text-primary my-3 display-5">🌿Les paramète du site</h1>

    {% include 'components/alert.html.twig' %}


    <div class="table-responsive">
        <table id="myTable" class="table table-striped table-bordered text-center">
        <thead class="table-primary">
            <tr>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
           <tr>
                <td>{{setting.email}}</td>
                <td>{{setting.phone ? setting.phone : "Non renseignè"}}</td>
                <td>
                    <a href="{{path('app_admin_setting_edit',{'id': setting.id})}}" class="text-secondary text-decoration-none" title="Modifier">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                </td>
            </tr>
        </tbody>

        </table>
    </div>

{% endblock %}